<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>001</key>
	<dict>
		<key>buildId</key>
		<string>001</string>
		<key>buildImg</key>
		<string>farmBuild001.png</string>
		<key>buildName</key>
		<string>woodhouse</string>
	</dict>
</dict>
</plist>
