<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advAreaInfo</key>
	<dict>
		<key>dataPlist</key>
		<string>AdvAreaInfo.plist</string>
		<key>imgSingleArr</key>
		<array>
			<string>adventure001.png</string>
			<string>adventure002.png</string>
		</array>
	</dict>
	<key>itemInfo</key>
	<dict>
		<key>dataPlist</key>
		<string>ItemInfo.plist</string>
		<key>imgSingleArr</key>
		<array>
			<string>00B1.jpg</string>
			<string>00BD.png</string>
		</array>
	</dict>
  <key>farmBuildInfo</key>
  <dict>
    <key>dataPlist</key>
    <string>farmBuildInfo.plist</string>
    <key>imgSingleArr</key>
    <array>
      <string>farmBuild001.png</string>
      <string>farmBuild002.png</string>
      <string>farmBuild003.png</string>
      <string>farmBuild004.png</string>
      <string>farmBuild005.png</string>
      <string>farmBuild006.png</string>
    </array>
  </dict>
</dict>
</plist>
