<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>0001</key>
	<dict>
		<key>itemId</key>
		<string>0001</string>
		<key>itemImg</key>
		<string>00B1.jpg</string>
		<key>itemName</key>
		<string>小石子</string>
		<key>itemRank</key>
		<string>1</string>
		<key>itemType</key>
		<string>1</string>
		<key>itemWorth</key>
		<string>1</string>
	  </dict>
  <key>0002</key>
	 <dict>
		<key>itemId</key>
		<string>0002</string>
		<key>itemImg</key>
		<string>00B1.jpg</string>
		<key>itemName</key>
		<string>铁矿石</string>
		<key>itemRank</key>
		<string>1</string>
		<key>itemType</key>
		<string>1</string>
		<key>itemWorth</key>
		<string>1</string>
	</dict>
  <key>0003</key>
	<dict>
		<key>itemId</key>
		<string>0003</string>
		<key>itemImg</key>
		<string>00B1.jpg</string>
		<key>itemName</key>
		<string>大地结晶</string>
		<key>itemRank</key>
		<string>1</string>
		<key>itemType</key>
		<string>1</string>
		<key>itemWorth</key>
		<string>1</string>
	</dict>
  <key>0004</key>
  <dict>
    <key>itemId</key>
    <string>0004</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>圆盘石</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0005</key>
  <dict>
    <key>itemId</key>
    <string>0005</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>辉龙石</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0006</key>
  <dict>
    <key>itemId</key>
    <string>0006</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>冰结晶</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0101</key>
  <dict>
    <key>itemId</key>
    <string>0101</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>小金鱼</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0102</key>
  <dict>
    <key>itemId</key>
    <string>0102</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>眠鱼</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0103</key>
  <dict>
    <key>itemId</key>
    <string>0103</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>扩散凸眼金鱼</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0104</key>
  <dict>
    <key>itemId</key>
    <string>0104</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>破裂龙鱼</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0201</key>
  <dict>
    <key>itemId</key>
    <string>0201</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>不死虫</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0202</key>
  <dict>
    <key>itemId</key>
    <string>0202</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>苦虫</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0203</key>
  <dict>
    <key>itemId</key>
    <string>0203</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>光虫</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0204</key>
  <dict>
    <key>itemId</key>
    <string>0204</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>独角甲虫王</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0301</key>
  <dict>
    <key>itemId</key>
    <string>0301</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>蓝蘑菇</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0302</key>
  <dict>
    <key>itemId</key>
    <string>0302</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>毒蘑菇</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0303</key>
  <dict>
    <key>itemId</key>
    <string>0303</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>兴奋蘑菇</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
  <key>0304</key>
  <dict>
    <key>itemId</key>
    <string>0304</string>
    <key>itemImg</key>
    <string>00B1.jpg</string>
    <key>itemName</key>
    <string>硝化蘑菇</string>
    <key>itemRank</key>
    <string>1</string>
    <key>itemType</key>
    <string>1</string>
    <key>itemWorth</key>
    <string>1</string>
  </dict>
	<key>00B1</key>
	<dict>
		<key>itemId</key>
		<string>薬草</string>
		<key>itemImg</key>
		<string>00B1.jpg</string>
		<key>itemName</key>
		<string>Herb</string>
		<key>itemRank</key>
		<string>1</string>
		<key>itemType</key>
		<string>1</string>
		<key>itemWorth</key>
		<string>1</string>
	</dict>
	<key>00BD</key>
	<dict>
		<key>itemId</key>
		<string>蓝蘑菇</string>
		<key>itemImg</key>
		<string>00BD.png</string>
		<key>itemName</key>
		<string>Blue Mushroom</string>
		<key>itemRank</key>
		<string>1</string>
		<key>itemType</key>
		<string>3</string>
		<key>itemWorth</key>
		<string>1</string>
	</dict>
</dict>
</plist>
