<?xml version="1.0" encoding="UTF-8"?>
<plist version="1.0">
    <dict>
        <key>advUnlocked</key>
        <array>
            <string>001</string>
            <string>002</string>
        </array>
        <key>buildUnlocked</key>
        <array>
            <string>001</string>
            <string>002</string>
            <string>003</string>
            <string>004</string>
            <string>005</string>
            <string>006</string>
        </array>
        <key>userItems</key>
        <dict>
            <key>0001</key>
            <integer>0</integer>
            <key>0002</key>
            <integer>0</integer>
            <key>0103</key>
            <integer>0</integer>
            <key>0003</key>
            <integer>0</integer>
            <key>0102</key>
            <integer>0</integer>
            <key>0004</key>
            <integer>0</integer>
            <key>0005</key>
            <integer>0</integer>
            <key>0006</key>
            <integer>0</integer>
            <key>0101</key>
            <integer>0</integer>
            <key>0104</key>
            <integer>0</integer>
            <key>0201</key>
            <integer>0</integer>
            <key>0202</key>
            <integer>0</integer>
            <key>0203</key>
            <integer>0</integer>
            <key>0204</key>
            <integer>0</integer>
            <key>0301</key>
            <integer>0</integer>
            <key>0302</key>
            <integer>0</integer>
            <key>0303</key>
            <integer>0</integer>
            <key>0304</key>
            <integer>0</integer>
            <key>00B1</key>
            <integer>0</integer>
            <key>00BD</key>
            <integer>0</integer>
        </dict>
    </dict>
</plist>
