<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>advUnlocked</key>
	<array>
		<string>001</string>
		<string>002</string>
	</array>
  <key>buildUnlocked</key>
	<array>
		<string>001</string>
	</array>
	<key>userItems</key>
	<dict>
		<key>00B1</key>
		<integer>1</integer>
	</dict>
</dict>
</plist>
